.cv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.naglowek {
  color: var(--secondary-secondary, #23213d);
  font-feature-settings: 'clig' off, 'liga' off;
  /* header/H4 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}
.linkCv {
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  color: var(--secondary-secondary, #23213d);
  text-decoration: none;
}
.cv .cvContainer {
  display: flex;
  flex-direction: row;
  width: 1500px;
  justify-content: space-between;
}
.myData {
  position: relative;
  right: 80px;
  top: -40px;
}
.gitHubIcon {
  height: 23px;
  width: 23px;
}
.mypagesicon {
  display: grid;
  grid-template-columns: 40px 40px 40px;
}
.skillscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}
.hr {
  height: 1px;

  border-color: #222;
}
.skillsparagraph {
  color: var(--text-text-primary, #222);
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.eachskill {
  padding: 6px 10px;
  border-radius: 4px;
  background: var(--black-black, #000);
  color: var(--text-alt-primary, #fff);
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
