.td1style {
  font-weight: bolder;
  width: 80px;
  vertical-align: text-top;
}
.tdstyle {
  line-height: 11px;
  width: 400px;
  height: auto;
  vertical-align: text-top;
}
.tddivstyle {
  margin-bottom: 12px;
  vertical-align: text-top;
}
.td2style {
  width: 650px;
  vertical-align: text-top;
  height: auto;
}

.tablecv {
  width: max-content;
  vertical-align: text-top;
  border-spacing: 1px;
}
.tr1 {
  padding: 1px;
  margin-right: 1px;
}
strong {
  line-height: normal;
}
.detailsparagraph {
  line-height: normal;
}
.liitemscolumn3 {
  margin-bottom: 12px;
}
.additional-info-list {
  display: flex; /* Używamy flexboxa */
  flex-direction: column;
}
