.dashboard .dashboard-about-me {
  padding-top: 5rem;
  position: absolute;
  right: 127px;
  top: 30px;
}

.dashboard .dashboard-about-me .person {
  background: url(http://placekitten.com/500/500) no-repeat center center;
  background-size: 11rem;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  position: sticky;
  color: black;
}
.mydataname {
  color: black;
}
