.tabela .tabelka {
align-items: center;
padding: 0px 0px;
display: inline-table;
border-collapse: collapse;
/* nie ma przerw między kolumnami */
width: 716px;
height: 57px;
border: 2px none white;
border-radius: 3%;
box-shadow: 1em 0.5em 1em 0.5em rgb(125, 123, 123);
}
.tabela .tabelka .rowparz {
 
  text-align: center;
  width: 716px;
height: 84px;
background-color: #FFD5DB;

}
.tabela .tabelka .rowniep {
text-align:  center;
width: 716px;
height: 84px;
 /* border: 1.41471px solid #FFD5DB;  */

}

.tabela .tabelka .row1 {
  background: #F5F5F5;
}
.rowparz {
align-items: center;
padding: 0px 28.2941px 0px 46px;
gap: 28.29px;
width: 716px;
height: 84px;
background-color: #FFD5DB;
/* primary/primary-light */

border: 2px solid #FFD5DB;

}
/* .tabelka :nth-child(5) {
  
  width: fit-content;
  background-color: pink;
} */

