.form_container {
  background-color: rgb(242, 239, 239);
  width: max-content;
  height: max-content;
  box-shadow: 10px 10px 10px 10px rgb(242, 239, 239);
}
.h2 {
  font-family: 'Poppins';
  width: 700px;
  size: 22px;
  line-height: 27px;
}
form button {
  margin: 10px;
  padding: 20px 60px;
  background-color: #fe3756;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px #fe3756;
  font-weight: bold;
  font-size: 16px;
}
