.menu {
  display: flex;
  align-items: center;
}

.menu-label {
  margin-right: 20px;
  width: 160px;
}
.playground {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 600px;
  margin: 50px;
}

.field {
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-color: #ccc;
}

.field svg {
  margin-bottom: -64px;
}

.field-green {
  background-color: greenyellow;
}

.field-red {
  background-color: red;
}
