.exercise-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 5rem header, 5rem footer 1.5rem padding (both sides) */
  grid-template-rows: calc(100vh - 5rem - 5rem - 1.5rem - 1.5rem);
}

.exercises-categories a.active {
  background-color: var(--color-white);
  color: var(--primary-primary, #fe3756);
  border: 0.747px solid var(--primary-primary, #fe3756);
}
.linktoformularzzamowienia {
  text-decoration: none;
  color: var(--secondary-secondary, #23213d);
  /* body/bold-18 */
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  padding-bottom: 15px;
}
.cwiczeniaparagraph {
  color: var(--text-text-primary, #222);
  font-feature-settings: 'clig' off, 'liga' off;
  /* header/H4 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
