.colors .colorName {
color:red;
}
.colors .shortenHex {
    color:#f60;
}
.colors .normalHex {
    color:#f58796
}
.colors .rgb {
    color:rgb(255, 0, 0)
}
.colors .rgba {
    color:rgba(255, 0, 0, .5)
    /* przeźroczystość */
}
.colors .hsl {
    color:hsl(170, 30%, 50%)
}
.opacity {
    /* opacity: 100%; */
    color: black;
    padding: 50px, 0px;
    background-color: rgb(145,123,200, .5);
}